table {
  width: 650px;
  th {
    padding: 8px;
    line-height: 20px;
    text-align: left;
  }
  td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #dddddd;
  }
  td.actions {
    text-align: right;
    a {
      margin-left: 5px;
    }
  }
}